.mdl-button--raised.mdl-button--colored {
    background: darkslategray;
}

.mdl-layout-title {
    font-family: "DejaVu Sans", sans-serif;
    font-size: large;
}

.mdl-data-table {
    width: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.author-table-row {
    padding-top: 5px;
    display: table;
    height: 48px;
    width: 100%;
}

.author-table-cell {
    background-color: darkolivegreen;
    height: 100%;
    margin: 3px;
    border: black solid 1px;
    display: table-cell;
    text-align:center;
    vertical-align: middle;
    color: midnightblue;
    font-family:"DejaVu Sans", sans-serif;
}

.mdl-data-table--selectable {
    margin-left: 3cm;
}
