<html xmlns:th="http://www.thymeleaf.org">
<head>
    <noscript>
        Please install JavaScript plugin to see dynamic content.
    </noscript>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/semantic/dist/semantic.min.css"
          th:href="@{/semantic/dist/semantic.min.css}"/>
    <!--<link rel="stylesheet" href="/static/css/style.css"  th:href="@{/css/style.css}" type="text/css">-->
    <title>Panel admina</title>
</head>
<div th:include="commonLayout :: commonNavbar"></div>
<div class="ui raised very padded container segment">
    <h2 class="ui header">Możliwości admina:</h2>
    <div class="item">
        <button type="submit" name="createTrains"
                class="ui secondary button">
            Wygeneruj pociągi
        </button>
        <button type="submit" name="clearTrains"
                class="ui secondary button">
            Wyczyść pociągi
        </button>
        <button type="submit" name="clearLogs"
                class="ui secondary button">
            Wyczyść logi
        </button>
        <button type="submit" name="runSimulation"
                class="ui secondary button">
            Włącz symulację
        </button>
        <button type="submit" name="stopSimulation"
                class="ui secondary button">
            Wyłącz symulację
        </button>
    </div>
</div>
<div th:include="commonFooter"></div>
</html>
