<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <noscript>
        Zainstaluj wtyczkę JavaScript, żeby oglądać dynamiczną zawartość tej strony!
    </noscript>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css" th:href="@{https://code.getmdl.io/1.2.1/material.indigo-pink.min.css}">
    <link rel="stylesheet" href="/static/css/style.css"  th:href="@{/css/style.css}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    <title>Panel admina</title>
</head>
<div th:include="commonLayout :: commonNavbar"></div>
<section class="mdl-layout__tab-panel is-active" id="generatorTabPanel">
    <div class="page-content">
        <h2>Panel admina taki ubogi</h2>
        <button th:onclick="${@timetableGeneratorService.generateTimetable()}"
           class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
           id="generateTrainsButton">
            Wygeneruj pociągi
        </button>
        <button th:onclick="${@trainService.clearTrains()}"
           class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
           id="clearTrainsButton">
            Wyczyść pociągi
        </button>
        <button th:onclick="${@eventLogService.clearEvents()}"
           class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
           id="clearLogsButton">
            Wyczyść logi
        </button>
        <button th:onclick="${@runSimulationService.runSimulation()}"
           class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
           id="runSimulationButton">
            Włącz symulację
        </button>
        <button th:onclick="${@runSimulationService.stopSimulation()}"
           class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
           id="stopSimulationButton">
            Wyłącz symulację
        </button>
    </div>
    <script type="text/javascript" th:src="@{/js/generatorUtilities.js}"></script>
    <div th:include="commonFooter"></div>
</section>
</html>
