<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../static/semantic/dist/semantic.min.css"
          th:href="@{/semantic/dist/semantic.min.css}"/>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/components/icon.min.css'>
</head>
<body>
<div th:fragment="commonNavbar">
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <a th:href="@{/}" class="active item" id="indexTabPanel">Strona główna</a>
            <a th:href="@{/timetable}" class="item" id="timetableTabPanel">Rozkład
                jazdy</a>
            <a th:href="@{/adminPanel}" class="item" id="generatorTabPanel">Panel
                Admina</a>
            <div class="right menu">
                <div class="ui transparent inverted icon input" id="searchBox">
                    <i class="search icon"></i>
                    <input type="text" placeholder="Wyszukaj">
                </div>
                <!--TODO, implementation-->
                <div class="item" id="registerPanel">Zarejestruj się</div>
                <div class="item" id="loginPanel">Zaloguj</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
