<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css" th:href="@{https://code.getmdl.io/1.2.1/material.indigo-pink.min.css}">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" th:href="@{http://fonts.googleapis.com/css?family=Roboto:300,400,500,700}" type="text/css">
    <link rel="stylesheet" href="/static/css/style.css"  th:href="@{/css/style.css}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs" th:fragment="commonNavbar">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Symulator pociągów i generator też!</span>
        </div>
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
            <a th:href="@{/}" class="mdl-layout__tab" id="indexTabPanel" style="text-align: center">Strona główna</a>
            <a th:href="@{/timetable}" class="mdl-layout__tab" id="timetableTabPanel" style="text-align: center">Rozkład jazdy</a>
            <a th:href="@{/adminPanel}" class="mdl-layout__tab" id="generatorTabPanel" style="text-align: center">Panel Admina</a>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Boczne menu</span>
        <nav class="mdl-navigation">
            <a th:href="@{/}" class="mdl-navigation__link">Indeks</a>
            <a th:href="@{/timetable}" class="mdl-navigation__link">Rozkład</a>
            <a th:href="@{/adminPanel}" class="mdl-navigation__link">Panel Admina</a>
        </nav>
    </div>
</div>
</body>
</html>
