<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css" th:href="@{https://code.getmdl.io/1.2.1/material.indigo-pink.min.css}">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" th:href="@{http://fonts.googleapis.com/css?family=Roboto:300,400,500,700}" type="text/css">
    <link rel="stylesheet" href="/static/css/style.css"  th:href="@{/css/style.css}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    <title>Start</title>
</head>
<body>
<div th:include="commonLayout :: commonNavbar"></div>
</div>
<div th:include="commonFooter">Domyślna stopka</div>
</body>
</html>