<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/semantic/dist/semantic.min.css"
          th:href="@{/semantic/dist/semantic.min.css}"/>
    <!--<link rel="stylesheet" href="/static/css/style.css"  th:href="@{/css/style.css}" type="text/css">-->
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/components/icon.min.css'>
    <title>Rozkład jazdy</title>
</head>
<body>
<div th:include="commonLayout :: commonNavbar"></div>
<div class="ui raised very padded container segment">
    <h2 class="ui header">Rozkład jazdy:</h2>
    <!--<div class="trainsList" th:unless="${#lists.isEmpty(allTrains)}">-->
    <div class="trainsList">
        <table class="ui single line table">
            <thead>
            <tr>
                <th>ID pociągu</th>
                <th>Nazwa pociągu</th>
                <th>ID trasy</th>
                <th>Bieżąca stacja</th>
                <th>Stan pociągu</th>
                <th>Godzina odjazdu</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="train : ${@trainService.getAllTrains()}">
                <td>#{train.id}</td>
                <td>#{train.name}</td>
                <td>#{train.route.id}</td>
                <td>#{train.station.name}</td>
                <td>#{train.state}</td>
                <td>#{train.timetable.get(0).departureTime}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:include="commonFooter" style="text-align: center;">&copy; Wojtek B &amp; Wojtek S</div>
</body>
</html>
